*{
    margin: 0%;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  li:last-child {
    border-right: none;
  }
  .active {
    background-color: #1044ee;
  }

#title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: #1044ee;
    text-align: center;
    margin-top: 10%;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 8px;
    height: min-content;
    width: min-content;
}

#title-2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: #1044ee;
    text-align: center;
    margin-top: 10%;
}

#display {
    text-align: center;
    border: 3px solid #000000;
    padding: 50px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

button{
    background-color: #1044ee;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
}